extends ../partials/head
block content
  h1 boun şenlikçi
  .general-separator
  -
    const coursesPlaceholder = [
      'HUM 101.03',
      'PE 152.02',
      'PHIL 112.01'
    ];
  p quick add yapmak istediğiniz derslerin kodlarını ve section'larını örnekteki gibi aşağıdaki alana yazın. her yeni ders için alt satıra geçin.
  textarea#courses-input(placeholder=coursesPlaceholder.join('\n') style=`min-height: ${coursesPlaceholder.length * 40}px;`)= coursesPlaceholder.join('\n')
  p ders kodlarını ve sectionları doğru yazdığınızdan emin olun. hata varsa çalışmayacaktır.
  .general-separator
  p aşağıdaki butonu fare ile tarayıcıdaki yer işaretleri çubuğuna sürükleyin ve kaydedin.
  p yer işaretleri çubuğu görünmüyorsa tarayıcı ayarlarından görünür hale getirin.
  a.general-button#drag-button(href) Sürükle
  .general-separator
  p ders seçim zamanı, kayıt ekranı yüklendiğinde yer işaretleri çubuğundaki butona tıklarsanız gerekli yerler doldurulacak. sonrasında quick add'e basabilirsiniz.
