extends ../partials/head
block content
  p quick add yapmak istediğiniz derslerin kodlarını ve section'larını örnekteki gibi aşağıdaki kutulara girin.
  form#course-input-wrapper(method='post' action='/quick-add')
    each course in courses
      +course-input(course)
    +course-input('')
  p ders kodlarını ve sectionları doğru yazdığınızdan emin olun. hata varsa çalışmayacaktır.
  .general-separator
  p aşağıdaki butonu tarayıcıdaki yer işaretleri çubuğuna sürükleyin ve kaydedin.
  p yer işaretleri çubuğu görünmüyorsa tarayıcı ayarlarından görünür hale getirin.
  a.general-button#drag-button(href, title=drag_button_default_title data-default-title=drag_button_default_title) Sürükle
  .general-separator
  p ders kayıt ekranı yüklendiğinde yer işaretleri çubuğundaki butona tıklarsanız istediğiniz dersler quick add yapılacaktır.
