extends ../partials/head
block content
  if (is_mobile)
    p yalnızca masaüstü web tarayıcılarında kullanılabilir.
    .general-separator
  p quick add yapmak istediğiniz derslerin kodlarını ve section'larını örnekteki gibi aşağıdaki kutulara girin.
  input.each-course-input(placeholder=course_placeholder)
  p ders kodlarını ve sectionları doğru yazdığınızdan emin olun. hata varsa çalışmayacaktır.
  .general-separator
  p aşağıdaki butonu tarayıcıdaki yer işaretleri çubuğuna sürükleyin ve kaydedin.
  p yer işaretleri çubuğu görünmüyorsa tarayıcı ayarlarından görünür hale getirin.
  a.general-button#drag-button(href) Sürükle
  .general-separator
  p ders kayıt ekranı yüklendiğinde yer işaretleri çubuğundaki butona tıklarsanız istediğiniz dersler quick add yapılacaktır.
