input, textarea {
  padding: var(--content-padding);
  outline: none;
  border: 1px solid var(--border-color);
}

input {
  width: fit-content;
}

button, .general-button {
  width: fit-content;
  min-width: fit-content;
  padding: var(--content-padding) calc(var(--content-padding) * 1.5);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 1px solid var(--border-color);
}
